<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/main.css">
    <title>@ViewData["Title"] - KpuLandryMachineMonitoring</title>
</head>
<body>
<header>
    <h1>3층 세탁기기 사용 현황</h1>
</header>
<main role="main">
    @RenderBody()
</main>
</body>
</html>