@{
    ViewData["Title"] = "Home Page";
}

<section id="user-list">
    <article class="user">
        @* 아이콘 삽입 위치 *@
        <img src="~/images/dryer_machine.svg" alt="landry machine image"/>
        <h2 class="user-name">김철수</h2>
        <p class="user-room-number">334</p>
        <p class="user-phone-number">010</p><br>
        <p class="user-phone-number">7187</p><br>
        <p class="user-phone-number">1279</p>
        <p class="user-time">10:30</p>
        <p class="user-time">11:08</p>
    </article>
    <article class="user">
        @* 아이콘 삽입 위치 *@
        <img src="~/images/dryer_machine.svg" alt="landry machine image"/>
        <h2 class="user-name">이기영</h2>
        <p class="user-room-number">1334</p>
        <p class="user-phone-number">010</p><br>
        <p class="user-phone-number">1234</p><br>
        <p class="user-phone-number">1279</p>
        <p class="user-time">10:30</p>
        <p class="user-time">11:08</p>
    </article>
    <article class="user">
        @* 아이콘 삽입 위치 *@
        <img src="~/images/dryer_machine.svg" alt="dryer machine image"/>
        <h2 class="user-name">모너미</h2>
        <p class="user-room-number">904</p>
        <p class="user-phone-number">010</p><br>
        <p class="user-phone-number">7187</p><br>
        <p class="user-phone-number">9721</p>
        <p class="user-time">10:30</p>
        <p class="user-time">11:08</p>
    </article>
</section>